.main {
    margin-top:75px;
    margin-left: 200px;/* Same as the width of the sidenav */
}

/* #bar{
    padding: 0.6%;
    padding-top: 1%;
    background-color: #111111;
    margin-bottom: 2%;
    position: fixed;
    width: 100%;
    color: white;
} */

.act{
color:rgb(1, 255, 255);
}

.bg{
    background : skyblue;
    padding: 15px 0px 0px 0px ;   
}
/*  */
/* .Ad{
    position: relative;
    padding-left: 35px;
} */
.Ad i{
    /* position: absolute; */
    top: 50%;
    /* left: 10px; */
}
/* .Show{
    position: relative; 
    padding-left: 40px;
} */
.Show i{
    /* position: absolute; */
    top: 50%;
    /* left: 10px; */
}
/*  */
.check{
    text-align: center;
    vertical-align :middle;
}
.largebox{
    width: 20px;
    height: 20px;
}