.bg{
    background-color: skyblue;
    padding: 0.1%;
    margin: 0.1%;
}


/* <!-- <div class="row" style="margin: 1% 1% 0% 1%;">
    <div class="col border" style="padding: 0.5%;">
        <label>Arrival</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Touchdown</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Arrived</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Step On</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Left Front Door</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Left Rear Door</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Cargo 1 Door</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Cargo 2 Door</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Power Available</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Last PAX Off</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Bags Offloaded</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>First Bag</label>
    </div>
    <div class="col border" style="padding: 0.5%;">
        <label>Last Bag</label>
    </div>
</div> --> */