.main {
    margin-top: 3.9%;
    margin-left: 200px;/* Same as the width of the sidenav */
    overflow-x: hidden;

}

#bar{
    padding: 0.6%;
    padding-top: 1%;
    background-color: #111111;
    margin-bottom: 2%;
    position: fixed;
    width: 100%;
    color: white;
}

.act{
color:rgb(1, 255, 255);
}
.bg {
    background-color: skyblue;
    padding: 0.1%;
    margin: 0.1%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:invalid {
    border : 2px solid red ;
}

