<div class="main">
    <div class="row" id="bar">
        <label>HOME &nbsp; / &nbsp; CREATE TURNAROUND &nbsp; / &nbsp;<span class="act">TURNAROUND DESK</span> </label>
    </div>
    <div style="margin-top: 5%;">
        <div class="container-fluid">

            <div class="border" style="margin: 1%;">
                <div class="row bg">
                    <h4>TurnAround Desk</h4>
                </div>
                <div class="row" style="padding: 1.5%; font-size: large;">
                    <div class="col">
                        <label>TurnAround Id : </label>&nbsp;
                        <input class="form-control-sm" type="text" [value]="PostTurnInfo.turnAroundId">
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col" style="text-align: right;">
                        <!-- <label>Delete : </label>&nbsp;
                    <input class="form-control-sm" type="text"> -->
                        <button type="button" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>

        </div>
        <br>
        <div class="container-fluid" style="font-size: small;">

            <div class="border" style="margin: 1%;">
                <div class="row bg">
                    <h4>Turn Info</h4>
                </div>
                <div class="row" style="margin: 1% 1% 0 1%;">
                    <div class="col  border" style="padding: 1%;">
                        <input type="checkbox" [(ngModel)]="this.PostTurnInfo.isTripCancelled">&nbsp;
                        <label>IsTripCancelled<span class="text-danger">*</span></label>
                    </div>
                    <div class="col  border" style="padding: 1%;">
                        <label style="padding-right: 15%;">Turn-Around Type</label>
                        <input type="radio" name="TurnStyle"
                            [checked]="this.PostTurnInfo.turnAroundType === 'Fast Spin'">&nbsp;
                        <label style="padding-right: 10%;">Fast Spin</label>
                        <input type="radio" name="TurnStyle"
                            [checked]="this.PostTurnInfo.turnAroundType === 'Slow Turn'">&nbsp;
                        <label>Slow Spin</label>
                    </div>
                </div>
                <div class="row" style="margin: 0 1% ">
                    <div class="col-1 border" style="padding: 0.5%;">
                        <label>Start Date Time</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <label>{{this.PostTurnInfo.startDateTime}}</label>
                    </div>
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Aircraft</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <select class="form-control form-control-sm form-select">
                            <option value="" selected>{{this.PostTurnInfo.aircraft}}</option>
                            <option *ngFor="let Aircraft of Aircraft">{{Aircraft}}</option>
                        </select>
                    </div>
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Departure Wave</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <select class="form-control form-control-sm form-select"
                            [(ngModel)]="this.PostTurnInfo.departureWave">
                            <option value="" selected disabled>--select--</option>
                            <option *ngFor="let DepartureWave of DepartureWave">{{DepartureWave}}</option>
                        </select>
                    </div>
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Departure Gate</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <select class="form-control form-control-sm form-select">
                            <option value="" selected>{{this.PostTurnInfo.departureGate}}</option>
                            <option *ngFor="let gate of Gates">{{gate}}</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin: 0 1%;">
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Finish Date Time</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <label>{{this.PostTurnInfo.finishDateTime}}</label>
                    </div>
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Registration</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <input class="form-control form-control-sm" type="text"
                            [(ngModel)]="this.PostTurnInfo.registration">
                    </div>
                    <div class="col-3  border" style="padding: 0.5%;">
                        <input type="checkbox" [(ngModel)]="this.PostTurnInfo.finalWave">&nbsp;
                        <label>Final Wave<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-1  border" style="padding: 0.5%;">
                        <label>Stand</label>
                    </div>
                    <div class="col-2  border" style="padding: 0.5%;">
                        <select class="form-control form-control-sm form-select">
                            <option value="" selected>{{this.PostTurnInfo.stand}}</option>
                            <option *ngFor="let Stands of Stands">{{Stands}}</option>
                        </select>
                    </div>
                    <!-- <div *ngIf="isTripCancelled">
                        <div class="row">
                            <div class="col-3 border" style="padding: 0.5%;">
                                <label>Cancelled Time : </label>&nbsp;&nbsp;
                                <input type="text">
                            </div>
                            <div class="col-9 border" style="padding: 0.5%;">
                                <label style="padding-right: 3%;">Cancelled Flight Handling : </label>
                                <input type="radio">
                                <label style="padding-right: 3%;">Movement Rate</label>
                                <input type="radio">
                                <label style="padding-right: 3%;">Positioning Rate 50%</label>
                                <input type="radio">
                                <label>Positioning Rate 75%</label>
                            </div>
                        </div>
                        <div class="row border" style="padding: 0.5%;">
                            <label>Comments :</label>
                            <textarea></textarea>
                        </div>
                    </div> -->
                </div>
                <div class="modal-footer" style="margin: 1%;">
                    <button class="btn btn-primary" style="content: right;" (click)="onSubmit()">Submit</button>
                </div>
            </div>

        </div>
        <br>
        <div class="container-fluid">
            <nav style="margin: 0 1%;">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-Arrival-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Arrival" type="button" role="tab" aria-controls="nav-Arrival"
                        aria-selected="true">Arrival</button>
                    <button class="nav-link" id="nav-Departure-tab" data-bs-toggle="tab" data-bs-target="#nav-Departure"
                        type="button" role="tab" aria-controls="nav-Departure" aria-selected="false">Departure</button>
                    <!-- <button class="nav-link" id="nav-Services-tab" data-bs-toggle="tab" data-bs-target="#nav-Services"
                        type="button" role="tab" aria-controls="nav-Services" aria-selected="false">Services</button> -->
                    <button class="nav-link" id="nav-Passengers-tab" data-bs-toggle="tab"
                        data-bs-target="#nav-Passengers" type="button" role="tab" aria-controls="nav-Passengers"
                        aria-selected="false">Passengers and
                        Bags</button>
                    <button class="nav-link" id="nav-Delay-tab" data-bs-toggle="tab" data-bs-target="#nav-Delay"
                        type="button" role="tab" aria-controls="nav-Delay" aria-selected="false">Delay</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <!-- Arrival FLIGHT INFORMATION -->
                <!-- class="tab-pane fade show active border" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0" -->
                <div class="tab-pane fade show active border" id="nav-Arrival" role="tabpanel"
                    aria-labelledby="nav-Arrival-tab" tabindex="0" style="margin: 0 1% 5% 1%;">
                    <div class="border" style="margin: 1%;">
                        <div class="row bg">
                            <h4>Flight Information</h4>
                        </div>
                        <div class="row" style="margin: 1% 1% 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Origin</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateArrival.origin">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Scheduled</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateArrival.scheduled">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Flight No#</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateArrival.flightNo">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Estimated</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateArrival.estimated">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Status</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <select class="form-control form-control-sm form-select"
                                    [(ngModel)]="this.UpdateArrival.status">
                                    <option value="" selected disabled>--select--</option>
                                    <option>Arrived</option>
                                    <option>Scheduled</option>
                                </select>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Touchdown</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateArrival.touchdown">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1% 1% 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Handler</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateArrival.handler">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Arrived</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateArrival.arrived">
                            </div>
                        </div>
                        <!-- <div class="modal-footer" style="margin: 1%;">
                        <button class="btn btn-primary" style="content: right;">Submit</button>
                    </div> -->
                    </div>
                    <br>
                    <!--Arrival PROGRESS TRACKING -->
                    <div class="border" style="margin: 1%;">
                        <div class="row bg">
                            <h4>PROGRESS TRACKING</h4>
                        </div>
                        <div class="row " style="margin: 1%; overflow-x: auto;">
                            <table class="table table-bordered border">
                                <thead>
                                    <tr>
                                        <td>Arrival</td>
                                        <td>Touchdown</td>
                                        <td>Arrived</td>
                                        <td>Step On</td>
                                        <td>Left Front Door</td>
                                        <td>Left Rear Door</td>
                                        <td>Cargo 1 Door</td>
                                        <td>Cargo 2 Door</td>
                                        <td>Power Available</td>
                                        <td>Last PAX Off</td>
                                        <td>Bags Offloaded</td>
                                        <td>First Bag</td>
                                        <td>Last Bag</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Target</td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetTouchdown"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetArrived" disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetStepOn" disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetLeftFrontDoor"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetLeftRearDoor"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetCargo1Door"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetCargo2Door"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetPowerAvailable"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetLastPAXoff"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetBagsoffloaded"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetFirstBag" disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.targetLastBag" disabled>
                                        </td>
                                    </tr>
                                    <tr>

                                        <td>Actual</td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualTouchdown"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualArrived"
                                                [min]="this.UpdateArrival.actualTouchdown"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualStepOn"
                                                [min]="this.UpdateArrival.actualArrived"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualLeftFrontDoor"
                                                [min]="this.UpdateArrival.actualStepOn"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualLeftRearDoor"
                                                [min]="this.UpdateArrival.actualLeftFrontDoor"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualCargo1Door"
                                                [min]="this.UpdateArrival.actualLeftRearDoor"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualCargo2Door"
                                                [min]="this.UpdateArrival.actualCargo1Door"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualPowerAvailable"
                                                [min]="this.UpdateArrival.actualCargo2Door"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualLastPAXoff"
                                                [min]="this.UpdateArrival.actualPowerAvailable"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualBagsoffloaded"
                                                [min]="this.UpdateArrival.actualLastPAXoff"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualFirstBag"
                                                [min]="this.UpdateArrival.actualBagsoffloaded"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateArrival.actualLastBag"
                                                [min]="this.UpdateArrival.actualFirstBag"></td>

                                    </tr>
                                </tbody>
                            </table>


                            <div style="text-align: right;">
                                <button class="btn btn-primary" (click)="onArrivalSubmit()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--DEPARTURE FLIGHTS INFORMATION -->
                <!-- class="tab-pane fade border" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0" -->
                <div class="tab-pane fade border" id="nav-Departure" role="tabpanel" aria-labelledby="nav-Departure-tab"
                    tabindex="0" style="margin: 0 1% 5% 1%;">
                    <div class="border" style="margin: 1%;">
                        <div class="row bg">
                            <h4>Flight Information</h4>
                        </div>
                        <div class="row" style="margin: 1% 1% 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Destination</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateDeparture.destination">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Scheduled</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateDeparture.scheduled">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Flight No#</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateDeparture.flightNo">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Estimated</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateDeparture.estimated">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Status</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <select class="form-control form-control-sm form-select"
                                    [(ngModel)]="this.UpdateDeparture.status">
                                    <option value="" selected disabled>--select--</option>
                                    <option>Departed</option>
                                    <option>Scheduled</option>
                                </select>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Actual</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateDeparture.actual">
                            </div>
                        </div>
                        <div class="row" style="margin: 0 1% 1% 1%;">
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Dispatcher</label>
                            </div>
                            <div class="col-3  border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="text"
                                    [(ngModel)]="this.UpdateDeparture.dispatcher">
                            </div>
                            <div class="col-1"></div>
                            <div class="col-2  border" style="padding: 0.5%;">
                                <label>Airborne</label>
                            </div>
                            <div class="col-3 border" style="padding: 0.5%;">
                                <input class="form-control form-control-sm" type="datetime-local"
                                    [(ngModel)]="this.UpdateDeparture.airborne">
                            </div>
                        </div>
                        <!-- <div class="modal-footer" style="margin: 1%;">
                        <button class="btn btn-primary" style="content: right;">Submit</button>
                    </div> -->
                    </div>
                    <br>
                    <!--DEPARTURE PROGRESS TRACKING -->
                    <div class="border" style="margin: 1%; overflow-x: auto;">
                        <div class="row bg">
                            <h4>PROGRESS TRACKING</h4>
                        </div>
                        <div class="row" style="margin: 1%;">
                            <table class="table table-bordered border">
                                <thead>
                                    <tr>
                                        <td>Departure</td>
                                        <td>Gate Open</td>
                                        <td>Aircraft Boarding Started(GLB)</td>
                                        <td>Gate Closed</td>
                                        <td>Boarding Complete</td>
                                        <td>Doors Closed</td>
                                        <td>Actual / Ready for Push</td>
                                        <td>Airborne</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Target</td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetGateOpen"
                                                disabled></td>
                                        <td><input type="time"
                                                [(ngModel)]="this.UpdateDeparture.targetAircraftBoardingStarted"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetGateClosed"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetBoardingComplete"
                                                disabled></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetDoorsClosed"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetActualPush"
                                                disabled>
                                        </td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.targetAirborne"
                                                disabled></td>
                                    </tr>
                                    <tr>
                                        <td>Actual</td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualGateOpen"></td>
                                        <td><input type="time"
                                                [(ngModel)]="this.UpdateDeparture.actualAircraftBoardingStarted"
                                                [min]="this.UpdateDeparture.actualGateOpen"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualGateClosed"
                                                [min]="this.UpdateDeparture.actualAircraftBoardingStarted"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualBoardingComplete"
                                                [min]="this.UpdateDeparture.actualGateClosed"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualDoorsClosed"
                                                [min]="this.UpdateDeparture.actualBoardingComplete"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualActualPush"
                                                [min]="this.UpdateDeparture.actualDoorsClosed"></td>
                                        <td><input type="time" [(ngModel)]="this.UpdateDeparture.actualAirborne"
                                                [min]="this.UpdateDeparture.actualActualPush"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <button class="btn btn-primary" style="content: right;"
                                    (click)="onSubmitDeparture()">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!--SERVICES  -->
                <div class="tab-pane fade border" id="nav-Services" role="tabpanel" aria-labelledby="nav-Services-tab"
                    tabindex="0" style="margin: 0 1% 5% 1%;">
                    <div class="border" style="margin: 1%;">
                        <div class="row bg">
                            <h4>Additional Services</h4>
                        </div>
                        <div class="row" style="margin: 1%; overflow-x: auto;">
                            <div class="col-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Luggage Belt</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Crew Transport</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Air Start</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Towing</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>GPU</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Water</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Toilet</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Cabin Tidy</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Degash</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Transit Clean</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Deep Clean</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Night Stop</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Night Clean</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Night Stop Checklist</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>LIAC Premium</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-3">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>De icing</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>De icing Fluid</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Misc. Revenue</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>GBS Charges</td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>Additional Labour charges</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer" style="margin: 1%;">
                            <button class="btn btn-primary" style="content: right;">Submit</button>
                        </div>
                    </div>
                </div>
                <!-- PASSENGERS AND BAGS -->

                <div class="tab-pane fade border" id="nav-Passengers" role="tabpanel"
                    aria-labelledby="nav-Passengers-tab" tabindex="0" style="margin: 0 1% 5% 1%;">
                    <div class="border" style="margin: 1%;">
                        <form [formGroup]="form">
                            <div class="row" style="margin: 0 1%;">
                                <div class="col" style="background-color: skyblue; margin: 1% 1% 0 1%;">
                                    <h4>Arrival Passengers And Bags</h4>
                                </div>
                                <div class="col" style="background-color: skyblue; margin: 1% 1% 0 1%;">
                                    <h4>Departure Passengers And Bags</h4>
                                </div>
                            </div>
                            <div class="row" style="margin: 0 1%;">
                                <div class="col">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Adults </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalAdults"
                                                        [value]="this.passengers.arrivalAdults">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Infants </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalInfants"
                                                        [value]="this.passengers.arrivalInfants"></td>
                                            </tr>
                                            <tr>
                                                <td>Hold Bags </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalHoldBags"
                                                        [value]="this.passengers.arrivalHoldBags"></td>
                                            </tr>
                                            <tr>
                                                <td>Cargo in kgs </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalCargoinkgs"
                                                        [value]="this.passengers.arrivalCargoinkgs"></td>
                                            </tr>
                                            <tr>
                                                <td>Specials </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalSpecials"
                                                        [value]="this.passengers.arrivalSpecials"></td>
                                            </tr>
                                            <tr>
                                                <td>Special Others </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalSpecialOthers"
                                                        [value]="this.passengers.arrivalSpecialOthers"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Romeo </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalWCHRomeo"
                                                        [value]="this.passengers.arrivalWCHRomeo"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Sierra </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalWCHSierra"
                                                        [value]="this.passengers.arrivalWCHSierra"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Charlie </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalWCHCharlie"
                                                        [value]="this.passengers.arrivalWCHCharlie"></td>
                                            </tr>
                                            <tr>
                                                <td>UN-MINS (Unaccompanied minors) </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalUNMINS"
                                                        [value]="this.passengers.arrivalUNMINS">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Wheelchairs </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalWheelchairs"
                                                        [value]="this.passengers.arrivalWheelchairs"></td>
                                            </tr>
                                            <tr>
                                                <td>Luggage Belt </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="ArrivalLuggageBelt"
                                                        [value]="this.passengers.arrivalLuggageBelt"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- <div class="modal-footer" style="margin: 1%;">
                                <button class="btn btn-primary" style="content: right;">Submit</button>
                            </div> -->
                                </div>
                                <div class="col">
                                    <table class="table table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Adults </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureAdults"
                                                        [value]="this.passengers.departureAdults"></td>
                                            </tr>
                                            <tr>
                                                <td>Infants </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureInfants"
                                                        [value]="this.passengers.departureInfants"></td>
                                            </tr>
                                            <tr>
                                                <td>Bagson Booking </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureBagsonBooking"
                                                        [value]="this.passengers.departureBagsonBooking"></td>
                                            </tr>
                                            <tr>
                                                <td>Paxon Booking </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DeparturePaxonBooking"
                                                        [value]="this.passengers.departurePaxonBooking"></td>
                                            </tr>
                                            <tr>
                                                <td>Checked Bags </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureCheckedBags"
                                                        [value]="this.passengers.departureCheckedBags"></td>
                                            </tr>
                                            <tr>
                                                <td>Gate Bags </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureGateBags"
                                                        [value]="this.passengers.departureGateBags"></td>
                                            </tr>
                                            <tr>
                                                <td>Rush Bags </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureRushBags"
                                                        [value]="this.passengers.departureRushBags"></td>
                                            </tr>
                                            <tr>
                                                <td>Cargo in kgs </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureCargoinkgs"
                                                        [value]="this.passengers.departureCargoinkgs"></td>
                                            </tr>
                                            <tr>
                                                <td>Specials </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureSpecials"
                                                        [value]="this.passengers.departureSpecials"></td>
                                            </tr>
                                            <tr>
                                                <td>Special Others </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureSpecialOthers"
                                                        [value]="this.passengers.departureSpecialOthers"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Romeo </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureWCHRomeo"
                                                        [value]="this.passengers.departureWCHRomeo"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Sierra </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureWCHSierra"
                                                        [value]="this.passengers.departureWCHSierra"></td>
                                            </tr>
                                            <tr>
                                                <td>WCH-Charlie </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureWCHCharlie"
                                                        [value]="this.passengers.departureWCHCharlie"></td>
                                            </tr>
                                            <tr>
                                                <td>UN-MINS (Unaccompanied minors) </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureUNMINS"
                                                        [value]="this.passengers.departureUNMINS"></td>
                                            </tr>
                                            <tr>
                                                <td>Deportee </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureDeportee"
                                                        [value]="this.passengers.departureDeportee"></td>
                                            </tr>
                                            <tr>
                                                <td>EMA </td>
                                                <td><input type="number" min="0" oninput="validity.valid||(value='');"
                                                        formControlName="DepartureEMA"
                                                        [value]="this.passengers.departureEMA">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="modal-footer" style="margin: 1%;">
                                        <button class="btn btn-primary" style="content: right;"
                                            (click)="onSubmitPassengers()">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- DELAY -->
                <div class="tab-pane fade border" id="nav-Delay" role="tabpanel" aria-labelledby="nav-Delay-tab"
                    tabindex="0" style="margin: 0 1% 5% 1%;">
                    <div class="border" style="margin: 1%;">
                        <form [formGroup]="form1">
                            <div class="row bg">
                                <h4>Delay</h4>
                            </div>
                            <div class="row" style="margin: 1%;">
                                <div class="col">
                                    <label>Delayed due to : </label>
                                    <select class="form-control form-control-sm form-select"
                                        formControlName="DelayedDueTo" [value]="this.delay.delayedDueTo">
                                        <option value="" selected disabled>--select--</option>
                                        <option>Open Doors</option>
                                        <option>Power On</option>
                                        <option>Bags on Aircraft</option>
                                        <option>Gate Opening</option>
                                        <option>Departure Time</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Delay Time : </label>
                                    <input class="form-control " type="time" formControlName="DelayTime"
                                        [value]="this.delay.delayTime">
                                </div>
                                <div class="col">
                                    <label>Delay Code : </label>
                                    <select class="form-control form-control-sm form-select"
                                        formControlName="DelayeCode" [value]="this.delay.delayeCode">
                                        <option value="" selected disabled>--select--</option>
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                        <option>04</option>
                                        <option>05</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label>Reported by : </label>
                                    <input class="form-control" type="text" formControlName="ReportedBy"
                                        [value]="this.delay.reportedBy">
                                </div>
                            </div>
                            <div class="row" style="margin: 1%;">
                                <div class="col">
                                    <label>Description : </label>
                                    <textarea class="form-control" rows="3" formControlName="Description"
                                        [value]="this.delay.description"></textarea>
                                </div>
                                <div class="col">
                                    <label>Notes : </label>
                                    <textarea class="form-control" rows="3" formControlName="Notes"
                                        [value]="this.delay.notes"></textarea>
                                </div>

                            </div>
                            <br>
                            <div class="modal-footer" style="margin: 1%;">
                                <button class="btn btn-primary" style="content: right;"
                                    (click)="onSubmitDelay()">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>