<header>
    <!-- Navbar -->
    <!-- <nav class=" navbar-expand-lg navbar-light bg-light fixed-top" style="text-align: center;padding: 1%;">
        <div class="container-fluid">
            <div>
                <h4>AIRLINE MANAGEMENT SYSTEM</h4>
            </div>

        </div>
    </nav> -->
    <!-- Sidebar -->
    <!-- <div class="sidenav">
        <a routerLink="/home">Home</a>
        <a routerLink="/schedule">Schedule Search</a>
        <a routerLink="/create_around">Create Turn Around</a>
        <a href="#">Contact</a>
    </div> -->
</header>

<!-- <div class="main">
    <div class="row" id="bar">
        <label>HOME &nbsp; / &nbsp; <span class="act">DASHBOARD</span> </label>
    </div>
    <router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet>